body 
{
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.938);
    width: 100%;
    height: auto;
}
/* navbar class to link to html */
.navbar 
{
    background-color:transparent;
    position: relative;
    z-index: 4;
}
.nav-link
{
font-size: 14px;
}
main
{
 position: absolute;
 top:0%;
 z-index: 0;
}
.carousel-control-prev, .carousel-control-next
{
    width: 0%;
}
.site-wrapper
{
    height: 840px;
    /* height 640 */
}
.card, .list-group-item
{
    background-color: rgba(0,0,0, 0.712);
}
.parallax
{
    background-image: url('images/NierBc2b.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
/* To make completley responsive screen only and() */
@media screenonly and (max-width:4000px)

{
    .site-wrapper
    {
        height:400px;
    }
    .col-md-m4
    {
        margin: 5%,0%;
    }
    .carousel-control-next, .carousel-control-prev
    {
        display: none;
    }
}

img {
    width: 100%;
    height: auto;
  }